<form enctype="multipart/form-data" action="/login" method="post">
    <input type="text" name="name" required>
    <input type="file" name="image" accept="image/*" required>
    <button>Enter</button>
</form>