<form action="/addQuestions" method="get">
    kategoria: <input type="text" name="kategoria">
    treść: <input type="text" name="tresc">
    odpowiedź:<input type="text" name="poprawna odp">
    <button>Dodaj</button>
</form>
<style>
    form{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    input{
        width: 900px;
    }
    button{
        width: 150px;
        height: 50px;
    }
</style>